label {
    font-size: 18px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #c4c4c4;
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 5px;
    margin-bottom: 10px;
    resize: vertical;
    font-size: 15px;
}

input[type=date] {
    width: 50%;
    padding: 5px;
    border: 1px solid #c4c4c4;
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; 
    margin-top: 5px;
    margin-bottom: 10px;
    resize: vertical;
    font-size: 15px;
}

input[type=button] {
    display: inline-block;
    width: 50%;
    padding: 15px;
    border: 1px solid #c4c4c4;
    box-sizing: border-box; 
    font-size: 25px;
}

#cancel {
    position: absolute;
    bottom: 0px;
    left: 0%;
    background-color: white;
}

#save {
    position: absolute;
    bottom: 0px;
    left: 50%;
    background-color: #000000;
    color: white;
}