<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantasktic</title>

    <!-- favicon stuff -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
    <link rel="stylesheet" type="text/css" href="/css/addtask.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.2.6/purify.min.js" integrity="sha512-rXAHWSMciPq2KsOxTvUeYNBb45apbcEXUVSIexVPOBnKfD/xo99uUe5M2OOsC49hGdUrkRLYsATkQQHMzUo/ew==" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/addtask.js"></script>

</head>
<body>
    <h1 id="addTaskHeader">
        Add a Task
    </h1>

    <!-- https://developer.mozilla.org/en-US/docs/Learn/Forms/Your_first_form-->
    <form class="addTaskForm" id="addTaskForm">
        <label for="taskName">Task Name:</label>
        <p>Max length: 27 characters</p>
        <input type="text" id="taskName" name="task_name" placeholder="Task" maxlength="27">
        
        <label for="taskDescription">Task Description:</label>
        <textarea type="text" class="taskDescription" id="taskDescription" name="task_description" placeholder="Description"></textarea>
        
        <label for="completeBy">Complete By:</label><br>
        <input type="date" id="completeBy" name="complete-by"><br>

        <!-- For future references: https://stackoverflow.com/questions/309081/how-do-you-create-a-toggle-button -->
        <!-- Reference: https://codepen.io/sunny-lella/pen/dXkLjb -->
        <label>Important:</label>
        <input type="checkbox" id="favoriteButton" name="favorite-button">
        <label for="favoriteButton" id="heartIcon" onclick="toggleHeart()">🤍</label>

        <input id="cancel" type="button" value="Cancel">
        <input id="save" type="submit" value="Save">
    </form>

    <script>
        function toggleHeart() {
            var heart = document.getElementById("heartIcon");
            if (heart.innerHTML == "🤍") {
                heart.innerHTML = "❤️";
            } else {
                heart.innerHTML = "🤍";
            }
        }
    </script>
    
</body>
</html>