<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantasktic</title>

    <!-- favicon stuff -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="../images/favicon/apple-touch-icon.png"> -->
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon/favicon-32x32.png"> -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon/favicon-16x16.png"> -->
    <!-- <link rel="manifest" href="../images/favicon/site.webmanifest"> -->

    <!-- stylesheet -->
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
        <div id="navbar" class="grid-item navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/error/">Garden</a></li>
                <li><a href="/addtask/">Add Task</a></li>
                <li><a href="/error/">Shop</a></li>
                <li><a href="/error/">Settings</a></li>
            </ul>
        </div>
        <h1>This page is still under construction, check back later! :)</h1>

</body>
</html>