<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantasktic</title>

    <!-- favicon stuff -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="../images/favicon/apple-touch-icon.png"> -->
    <!-- <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon/favicon-32x32.png"> -->
    <!-- <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon/favicon-16x16.png"> -->
    <!-- <link rel="manifest" href="../images/favicon/site.webmanifest"> -->

    <!-- stylesheet -->
    <link rel="stylesheet" href="../css/style.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
        rel="stylesheet"
    />

</head>
<body>
        <div id="navbar" class="grid-item navbar">
            <ul>
                <li>
                    <a href="/">
                        <img class="navbar-icon" src="/images/house-icon.png">
                        <br>
                        Home
                    </a>
                </li>
                <li>
                    <a href="/error/">
                        <img class="navbar-icon" src="/images/garden-icon.png">
                        <br>
                        Garden
                    </a>
                </li>
                <li>
                    <a href="/addtask/">
                        <img class="navbar-icon" src="/images/addtask-icon.png">
                        <br>
                        Add Task 
                    </a>
                </li>
                <li>
                    <a href="/shop/">
                        <img class="navbar-icon" src="/images/shop-icon.png">
                        <br>
                        Shop 
                    </a>
                </li>
                <li>
                    <a href="/error/">
                        <img class="navbar-icon" src="/images/settings-icon.png">
                        <br>
                        Settings 
                    </a>
                </li>
            </ul>
        </div>
        <h1>This page is still under construction, check back later! :)</h1>

</body>
</html>