<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantasktic</title>

    <!-- favicon stuff -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <link rel="stylesheet" href="/css/error.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Rubik&display=swap"
        rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery.js"></script>
    {{!-- <script src="/js/error.js"></script> --}}

</head>
<body class="genformat">
        <div id="navbar" class="grid-item navbar">
            <ul>
                <li>
                    <a href="/home">
                        <img class="navbar-icon" src="/images/home-icon.png">
                        <br>
                        Home
                    </a>
                </li>
                <li>
                    <a href="/garden">
                        <img class="navbar-icon" src="/images/garden-icon.png">
                        <br>
                        Garden
                    </a>
                </li>
                <li>
                    <a href="/addtask">
                        <img class="navbar-icon" src="/images/addtask-icon.png">
                        <br>
                        Add Task 
                    </a>
                </li>
                <li>
                    <a href="/shop">
                        <img class="navbar-icon" src="/images/shop-icon.png">
                        <br>
                        Shop 
                    </a>
                </li>
                <li>
                    <a href="/login">
                        <img class="navbar-icon" src="/images/settings-icon.png">
                        <br>
                        Settings 
                    </a>
                </li>
            </ul>
        </div>
        <h1 class="title">This page is still under construction, check back later! :)</h1>

</body>
</html>