<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantasktic</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
    
    {{!-- <link href="css/bootstrap.css" rel="stylesheet"> --}}
	{{!-- <link href="css/bootstrap-theme.css"rel="stylesheet"> --}}
    <link rel="stylesheet" href="../css/login.css">

    <script src="https://code.jquery.com/jquery.js"></script>
    <script type="module" src="/js/login.js"></script>

</head>
<body>
    <div class="container">
        <h1 id="loginHeader">Login</h1>

        <form id="loginForm">
            <label for="username">Username:</label>
            <input type="text" id="username" name="user_name" placeholder="username">

            <label for="password">Password:</label>
            <input type="text" id="password" name="pass_word" placeholder="password">

            <input id="loginButton" type="submit" value="Login">
            <p id="signupLink"><a id="signupLink" href="/signup/">Don't have an account? Sign up here</a></p>
        </form>
    </div>
</body>
</html>