<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantasktic</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
    
    {{!-- <link href="css/bootstrap.css" rel="stylesheet"> --}}
	{{!-- <link href="css/bootstrap-theme.css"rel="stylesheet"> --}}
    <link rel="stylesheet" href="../css/signup.css">

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/signup.js"></script>

</head>
<body>
    <div class="container">
        <h1 id="signupHeader">Sign Up</h1>

        <form id="signupForm">
            <label for="username">Username:</label>
            <input type="text" id="username" name="user_name" placeholder="username">

            <label for="password">Password:</label>
            <input type="text" id="password" name="pass_word" placeholder="password">

            <div class="divSignupButton">
                <input id="signupButton" type="submit" value="Sign Up">
                <p id="loginLink"><a id="loginLink" href="/login/">Already have an account? Login here</a></p>
            </div>    
        </form>
                <div id="navbar" class="grid-item navbar">
            <ul>
                <li>
                    <a href="/">
                        <img class="navbar-icon" src="/images/home-icon.png">
                        <br>
                        Home
                    </a>
                </li>
                <li>
                    <a href="/garden">
                        <img class="navbar-icon" src="/images/garden-icon.png">
                        <br>
                        Garden
                    </a>
                </li>
                <li>
                    <a href="/addtask">
                        <img class="navbar-icon" src="/images/addtask-icon.png">
                        <br>
                        Add Task 
                    </a>
                </li>
                <li>
                    <a href="/shop">
                        <img class="navbar-icon" src="/images/shop-icon.png">
                        <br>
                        Shop 
                    </a>
                </li>
                <li>
                    <a href="/login">
                        <img class="navbar-icon" src="/images/selected-settings-icon.png">
                        <br>
                        Settings 
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>