@font-face{
    font-family: "Rubik";
    src: "https://fonts.googleapis.com/css2?family=Rubik&display=swap"
}

html {
    margin: 0;
    height: 100%;
}

.genformat {
    align-items: center;
    text-align: left;
    width: auto;
    color: white;
    font-family: "Rubik";
    margin: 0;
    padding: 0;
}

.background {
    margin: 0;
    min-height: 800px;
    background-image: linear-gradient(#5AAAAF, #9CDDC2);
}

#main {
    display: block;
    float: left;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    margin: 0px;
}

.grid-item {
    width: 100%;
    border: 0px solid #949494;
    font-size: 14px;
    text-align: center;
    padding: 0px;
    margin: 0px; 
    display: inline;
}

.title {
    text-align: center;
    font-size: 40px;
    font-family: "Rubik";
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 5px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: #E5FFF4;
}

li {
    float: center;
    width: 20%;
}

li a {
    display: block;
    color: #545454;
}

.navbar-icon {
    height: 55px;
    width: 55px;
}

.navbar {
    position: fixed;
    bottom: 0;
    background-color: white;
    font-family: var(--main-head-font);
    width: 100%;
}

.garden {
    padding-bottom: 90px; /* accommodate navbar */
}

.plant {
    display: block;
    background-color: white;
    opacity: 0.85;
    color: #474747;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 5px; /* Rounded borders */
    box-shadow: 0 4px 8px 0 rgba(150, 150, 150, 0.25), 0 6px 20px 0 rgba(150, 150, 150, 0.25);
    /* height: 50px; */
    margin-top: 5px;
    margin-bottom: 10px;
    align-items: center;
    text-align: left;
}

.plant-pic {
    padding-top: 13px;
    /* padding-bottom: 13px; */
    text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.plant-name {
    font-size: 20px;
    font-family: "Rubik";
    color: #474747;
    /* padding-top: 13px;
    padding-bottom: 13px; */
    /* padding-left: 10px; */
    text-align: center;
}