body {
    font-family: "Rubik";
}

#loginHeader {
    text-align: center;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #c4c4c4;
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 5px;
    margin-bottom: 10px;
    resize: vertical;
    font-size: 15px;
    font-family: Rubik, sans-serif;
}

