html, body {
    margin: 0;
    height: 100%;
}

#amountOfCoins {
    text-align: right;
    font-size: 20px;
    font-family: "Rubik";
    position: absolute;
    right: 10px;
    top: 10px;
    color:#c5e8cc;
}

#shopHeader {
    text-align: center;
    font-size: 40px;
    font-family: "Rubik";
}

.genformat {
    align-items: center;
    text-align: left;
    width: auto;
    background-image: linear-gradient(#5AAAAF, #9CDDC2);
    color: white;
    font-family: "Rubik";
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 0px;
    margin: 0px;
}

.grid-item {
    width: 100%;
    border: 0px solid #949494;
    font-size: 14px;
    text-align: center;
    padding: 0px;
    margin: 0px; 
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 5px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: #E5FFF4;
}

li {
    float: center;
    width: 20%;
}

li a {
    display: block;
    color: #545454;
}

.navbar-icon {
    height: 55px;
    width: 55px;
}

.plant-cost {
    margin-right: 10px;
    position: relative;
}

.inventory-container {
    padding: 15px;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    width: 90%;
    border-radius: 5px; /* Rounded borders */
    box-shadow: 0 4px 8px 0 rgba(150, 150, 150, 0.25), 0 6px 20px 0 rgba(150, 150, 150, 0.25);
    background-color: #E5FFF4;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}

.inventory-item {
    margin: 0px;
    display: inline;
    color: #545454;
}

.navbar {
    position: fixed;
    bottom: 0;
    background-color: white;
    font-family: var(--main-head-font);
    width: 100%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    color: black;
}

 #buyButtonContainer {
    display: flex;
    align-items: center;
}
  
.buyButton {
    height: 30px;
    width: 60px;
    position: absolute;
    right: 20px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(150, 150, 150, 0.25), 0 6px 20px 0 rgba(150, 150, 150, 0.25);
    color: #37797e;
}

#buyPlant, #buyCost {
    visibility: hidden;
    position: absolute;
    position: fixed; /* Stay in place */
    left: 0;
    display: none;
}
