img {
    width: 80%;
}

.navbar {
    position: fixed;
    bottom: 0;
    background-color: white;
    font-family: var(--main-head-font);
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

li {
    float: center;
}

li a {
    display: block;
}

.navbar-icon {
    height: 50px;
}

main {
    display: block;
    float: left;
}

body {
    align-items: center;
    text-align: left;
    width: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 0px;
    margin: 0px;
}

.grid-item {
    width: 100%;
    border: 0px solid #949494;
    font-size: 14px;
    text-align: center;
    padding: 0px;
    margin: 0px; 
}

.grey-line {
    background-color: #949494;
    display: inline-block;
    vertical-align: middle;
    width: 25%;
    height: 2px;
}