@font-face{
    font-family: "Rubik";
    src: "https://fonts.googleapis.com/css2?family=Rubik&display=swap"
}

html {
    margin: 0;
    height: 100%;
    /* background-image: linear-gradient(#5AAAAF, #9CDDC2); */
}

.genformat {
    align-items: center;
    text-align: left;
    width: auto;
    color: white;
    font-family: "Rubik";
    margin: 0;
    padding: 0;
    height: 100%;
}

#main {
    display: block;
    float: left;
    /* margin-bottom: 15px; */
    /* height: 5px; */
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 0px 0px 85px 0px;
    background-image: linear-gradient(#5AAAAF, #9CDDC2);
    margin: 0px;
}

.grid-item {
    width: 100%;
    border: 0px solid #949494;
    font-size: 14px;
    text-align: center;
    padding: 0px;
    margin: 0px; 
    display: inline;
}

.title {
    text-align: center;
    font-size: 40px;
    font-family: "Rubik";
}

.task-heading {
    text-align: left;
    font-size: 24px;
    font-family: "Rubik";
    margin: 0px;
    padding: 5px 25px;
}

.blue-line {
    background-color: #5AAAAF;
    display: inline-block;
    vertical-align: middle;
    width: 90%;
    height: 1px;
    justify-content: center;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 5px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    background-color: #E5FFF4;
}

li {
    float: center;
    width: 20%;
}

li a {
    display: block;
    color: #545454;
}

.task {
    display: block;
    background-color: white;
    opacity: 0.85;
    color: #474747;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 5px; /* Rounded borders */
    box-shadow: 0 4px 8px 0 rgba(150, 150, 150, 0.25), 0 6px 20px 0 rgba(150, 150, 150, 0.25);
    height: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
    align-items: left;
    text-align: left;
}

.checkbox {
    padding-top: 13px;
    padding-bottom: 13px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
}

.task-name {
    font-size: 20px;
    font-family: "Rubik";
    color: #474747;
    text-align: left;
}

.navbar-icon {
    height: 55px;
    width: 55px;
}

.navbar {
    position: fixed;
    bottom: 0;
    background-color: white;
    font-family: var(--main-head-font);
    width: 100%;
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: gray;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    color:#474747;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#del-task {
    font-size: 16px;
}